@charset "UTF-8";
/* footer */
#footer {
  background: #000;
  font-size: 13px;
}

#footer .footer-inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 80px;
}

#footer .footer-logo {
  width: 278px;
  height: 30px;
  background: url(../../images/layout/img_logo_footer.png) no-repeat;
  font-size: 0;
}

#footer .footer-familysite {
  position: absolute;
  z-index: 95;
  top: 100px;
  right: 80px;
}

#footer .footer-familysite .btn {
  position: relative;
  width: 165px;
  height: 30px;
  color: #fff;
  text-align: left;
}

#footer .footer-familysite .list {
  display: none;
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 165px;
  padding: 15px;
  background: #fff;
  border: 1px solid #fafafa;
}

#footer .footer-familysite .list p {
  font-weight: 700;
  line-height: 1.5;
}

#footer .footer-familysite .list ul {
  margin: 5px 0 0;
}

#footer .footer-familysite .list li {
  line-height: 1.5;
  font-size: 12px;
}

#footer .footer-familysite .list p ~ p {
  margin-top: 10px;
}

#footer .footer-link {
  position: absolute;
  top: 185px;
  right: 80px;
  color: #666;
}

#footer .footer-link .box {
  float: left;
  width: 165px;
}

#footer .footer-link .tit {
  color: #fff;
  font-weight: 700;
}

#footer .footer-link .list {
  margin: 10px 0 0;
  color: #666;
}

#footer .footer-link .list li {
  line-height: 1.7;
}

#footer .footer-link .list li a {
  color: #666;
}

#footer .footer-info {
  margin-top: 40px;
  color: #666;
  line-height: 1.7;
}

#footer .footer-info a, #footer .footer-info button {
  margin-left: 20px;
  color: #666;
  line-height: 1.7;
}

#footer .footer-info .contact {
  margin-top: 15px;
}

#footer .footer-info .contact span {
  margin-right: 20px;
}

#footer .footer-info .contact span a {
  margin-left: 0;
}

#footer .footer-link .list .privacy {
  font-weight: 500;
  color: #999;
}

#footer .footer-link .sns {
  position: absolute;
  top: 150px;
  right: 0;
  width: 165px;
  color: #666;
}

#footer .footer-link .sns li {
  position: relative;
  margin: 0 0 8px;
  padding-left: 30px;
  line-height: 24px;
}

#footer .footer-link .sns li a {
  color: #666;
}

#footer .footer-link .sns li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../../images/layout/icon_footer_sns.png) no-repeat;
}

#footer .footer-link .sns li.post:after {
  background-position: -24px 0;
}

#footer .footer-link .sns li.insta:after {
  background-position: -48px 0;
}